<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Tonci Pinto">

    <link rel="stylesheet" href="../css/aticulos/add.css">
    <link rel="stylesheet" href="../css/principal/principal.css">
    <link rel="stylesheet" href="../css/Lora.css">
    <title>Agregar Articulo</title>
</head>
<body>
    <div class="conten-form">
        <form action="">
            <h1>Articulo</h1>
            <label for="">Titulo</label>
            <input type="text"><br>
            <label for="">Marca</label>
            <input type="text"><br>
            <label for="">Precio</label>
            <input type="text"><br>
            <label for="">Descripcion</label>
            <input type="text"><br>

            <input type="file" id="imagen">
            <label for="imagen">Imagen</label><br>
            <input type="submit" value="Guardar">
            <input type="button" value="Cancelar">
        </form>
    </div>

</body>
</html>